<footer>
  <p mt-8 text-xs>
    <div class="mt-2 text-xs text-gray-500 dark:text-gray-400">
      {
        import.meta.env.NOTICE_MESSAGE
          ? (
          <Fragment set:html={import.meta.env.NOTICE_MESSAGE} />
            )
          : null
      }
    </div>
    
  </p>
</footer>
